<section id="comments" class="py-16 bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto px-3 space-y-8 sm:px-6 lg:px-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-none">
      <!-- <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase"><h2> -->
      <h2 class="my-2 text-2xl md:text-3xl leading-8 font-extrabold tracking-tight text-gray-900">
        Comments
      </h2>
    </div>
  </div>
  <div class="relative px-3 md:p-6 prose prose-indigo prose-lg text-gray-500 lg:max-w-none">
    <%# Expands to render partial: comments/comment, collection: post.comments%>
    <%= render post.comments %>
  </div>
</section>

<%= render "comments/new", post: post %>
