<%= turbo_stream_from @post %>

<section class="flex flex-col">
  <%= render @post %>
  <!-- TODO: make comments input look nice, comments should have a name, email, discord, twitter etc -->
  <%#= render "posts/comments", post: @post %>
  <div>
    <% if king_signed_in? %>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= button_to "Destroy this post", @post, method: :delete %>
    <% end %>
  </div>
</section>